.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero img{
  border-radius: 0;
  position: center;
  padding-left: 200px
}

aside.right, aside.left {
  text-align: center;
  float: inherit;

}

map{
  position: center
}
