.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.hero{
  border-radius: 0;
  justify-content: center;

}

aside.right, aside.left {
  text-align: center;
  float: inherit;

}

map{
  position: center
}
