/*
 * General Styles
*/


body {
  background: red;
  background: url('../images/1-scene.png');
  font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  padding-left: 20px;
  font-size: 25px;
  line-height: 1.75;
  margin-bottom: 28px;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 32px;
}

h1 {

  background: ;
  font-size: 60px;
  padding-top: 20px;
}

h2 , address {
   font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  font-size: 30px;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;
  background: lightblue;
}

.picture{

  padding-right: 30px;
  padding-left: 70px;
}

