/*
 * General Styles
*/


body {
  background: url('../images/space-background.png');
  font-family: 'Open Sans', arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;


}



* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 28px;
}

.hero img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

strong {
  font-weight: bold;
}

ul li {
  list-style: decimal inside;
}

/*
 * Heading Styles
*/


h1, h2 {
  font-family: 'Lobster', cursive;
  color: #e22f8f;
  text-align: center;
  margin-bottom: 32px;
}



h1 {

  font-size: 3.7rem;
}

h2 {
  font-size: 32px;
}

/*
 * Container Styles
*/

.container {
  width: 600px;
  margin: 100px auto;

  border-radius: 20px 20px 0 0;
}

.hero{
  line-height: 0;
}

aside.left{
  float: left;
}

aside.right{
  float: right;

}

 section.intro, section.contact {
    padding: 40px;
 }

 section.intro{
    background: #FFF;
 }

section.intro {
  background: white;
}

section.contact{
  background: #e6e9ea;
}

aside{
  margin-right: 24px;
}
